:root {
  /*### Primary*/
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  /*### Neutral*/
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"), url("../assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: local("Ubuntu-Medium"), url("../assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: local("Ubuntu-Regular"), url("../assets/fonts/Ubuntu-Regular.ttf");
}
* {
  font-family: Ubuntu-Regular, serif;
  font-size: 16px;
  color: var(--Marine-blue);
}
.main {
  display: flex;
  width: 800px;
  height: 565px;
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
}
.form-step {
  border-radius: 10px;
  background-color: var(--Purplish-blue);
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.step {
  color: var(--White);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.step-active {
  color: var(--Marine-blue) !important;
  background-color: var(--Light-blue);
  border: solid 1px var(--Light-blue) !important;
}
.step-number {
  color: var(--White);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: solid 1px var(--White);
}
.step-title {
  color: var(--Light-gray);
}
.step-info {
  color: var(--White);
  font-family: Ubuntu-Bold, serif;
}
.form-input-section {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.form-title {
  font-family: Ubuntu-Medium, serif;
  font-size: 30px;
  color: var(--Marine-blue);
}
.form-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-description {
  color: var(--Cool-gray);
}
.form-input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input-field > div {
  display: flex;
  justify-content: space-between;
}
.hide {
  display: none !important;
}
.warning-label {
  font-family: Ubuntu-Bold, serif;
  color: var(--Strawberry-red);
}
.warning-input {
  border: solid 1px var(--Strawberry-red);
}
.form-input-footer {
  display: inline-block;
}
.next-step-button {
  background-color: var(--Purplish-blue);
  color: var(--White);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
.next-step-button:hover {
  background-color: var(--Marine-blue);
}
.go-back-button {
  background-color: var(--White);
  color: var(--Marine-blue);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.plan-option > ul {
  height: 170px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plan-option > ul > li {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--Light-gray);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan-option-selected {
  border: solid 1px var(--Purplish-blue) !important;
  background-color: var(--Magnolia) !important;
}
.plan-option > ul > li:hover {
  border: solid 1px var(--Purplish-blue) !important;
}
.plan-option > ul > li:active {
  background-color: var(--Alabaster) !important;
}
.plan-title {
  font-family: Ubuntu-Bold, serif;
}
.plan-price,
.plan-price > * {
  color: var(--Cool-gray);
}
.plan-detail-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  background-image: linear-gradient(
    to right,
    var(--Marine-blue),
    var(--Marine-blue)
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    var(--Marine-blue),
    var(--Marine-blue)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch-monthly-yearly {
  padding: 10px;
  background-color: var(--Magnolia);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
}
.form-addons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.addons-card {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px var(--Light-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addons-card-active {
  border: solid 1px var(--Purplish-blue);
}
.addons-card > input {
  width: 20px;
  height: 20px;
  accent-color: var(--Purplish-blue);
}
.addons-detail {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.addons-title {
  display: block;
  font-family: Ubuntu-Bold, serif;
}
.addons-description {
  display: block;
  color: var(--Cool-gray);
}
.addons-price {
  position: absolute;
  display: flex;
  right: 20px;
  align-items: center;
  color: var(--Purplish-blue);
  font-size: 16px;
}
.finish-detail {
  background-color: var(--Magnolia);
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
}
.finish-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finish-items :nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.finish-items :nth-child(2) {
  font-size: 14px;
  color: var(--Cool-gray);
}
.addons-items {
  display: flex;
  justify-content: space-between;
}
.addons-items :nth-child(1) {
  color: var(--Cool-gray);
}
.addons-items :nth-child(2) {
  font-size: 14px;
}
.total-price {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.total-price :nth-child(1) {
  color: var(--Cool-gray);
}
.total-price :nth-child(2) {
  font-family: Ubuntu-Bold, serif;
  color: var(--Purplish-blue);
  font-size: 20px;
}
.middle {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.thank-you-image {
  display: flex;
  justify-content: center;
}
.thank-you-title {
  display: flex;
  justify-content: center;
  font-family: Ubuntu-Bold, serif;
  font-size: 26px;
}
.thank-you-description {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--Cool-gray);
}
.plan-year-free {
  font-size: 12px;
  color: var(--Marine-blue);
}
.summary-change {
  cursor: pointer;
}
.summary-change:hover {
  text-decoration: underline;
}
